.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: flex-start;
}

.flex-item {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
}

