$hov-col: #AB00FF;
$rgba: rgba(255,255,255,0.7)
$gry: #666666;
$f-c: 'Cousine'
$red: #FF0000;
$green: #32FF00;
$wh: #fff;
$gradtt:  linear-gradient(to top, #ab00ff 0%, #ffffff);
$gradtb: linear-gradient(to bottom, #ab00ff 0%, #ffffff 100%); 
.clr-ltr
	color: $hov-col
#rbga_bg
	background-color: $rgba;	

*
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
body
	background: #f2f2f2;
	margin: 0;
	font-family: $f-c;
	overflow-x: hidden;
	ul
		list-style-image: url(img/list1.png);		
header
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	background: $rgba;
	z-index: 99999999;
	font-size: 0;
	padding-top: 10px;
	padding-bottom: 10px;
nav
	vertical-align: middle;
	display: inline-block;
	width: 70%;
	height: 100%;
	ul
		padding: 0;
		margin: 0;
		width: 100%;
		li
			text-align: center;
			width: 20%;
			display: inline-block;
			list-style: none
			&::after,::before
				content: '';
				width: 0%;
				margin: 0 auto
				display: block;
				height: 4px
				background-color: $hov-col
				margin-top: 5px;
				transition: width 0.35s;
				animation-timing-function: ease-in-out;
			&:hover
				&::after
					width: 50%;
		a
			font-size: 15px;
			color: #000;
			text-decoration: none;
			text-transform: uppercase;
			font-weight: 700;	
.logo 
	display: inline-block;
	width: 30%;
	height: 100%;
	vertical-align: middle;
	h1
		text-align: center;
		font-style: italic;
		font-size: 25px;
		margin: 0;
#home
	height: 100vh;
.greet
	height: 100%;
.greet-wapper
	display: inline-block;
	height: 100%
	width: 100%;
	line-height: 100%;
	h2
		display: inline-block;
		text-align: center;
		width: 100%;
		height: 100%;	
		line-height: 100vh;
		margin-top: 0;
		text-transform: uppercase;
		font-family: 'Open Sans Condensed', sans-serif;
		font-weight: normal;
		font-size: 100px;
#m_st
	p
		font-weight: 400;
		font-family: $f-c;
		font-size: 20px;
#undr_line
	:after
		content: '';
		width: 90%;
		margin: 0 auto
		display: block;
		height: 4px
		background-color: $gry
		margin-top: 10px;
	h3
		margin: 0;	
.title
	margin-top: 0;
	&:first-letter	
		font-size: 35px;
		color: $hov-col
#left_text
	max-width: 550px;
	p
		text-align: left;	
#center_left
	max-width: 400px;
	h3:after
		background: $green;
	p
		text-align: left;
#center_right
	position: absolute;
	bottom: 45px;
	right: 45px;
	max-width: 400px;
	h3:after
		background: $red;
	p
		text-align: center;
#right_text
	position: absolute;
	right: 45px;
	top: 16%;
	max-width: 45%;
	p
		text-align: left;	
.slider-inner
	padding: 50px;
	background: $rgba;
	border-radius: 20px;
	box-shadow: 0 0 20px rgba(0,0,0,0.5)
#m_sk
	height: 100vh;
	overflow: hidden;
.m_sk_wrapper
	background: $rgba;
	height: 100%;	
.skill_row_1
	background: $gradtt
	display: block;
	height: 50%;
	font-size: 0;
.skill_row_2
	background: $gradtb
	display: block;
	height: 50%;
	font-size: 0;	
.skill_wrapper
	position: relative;
	display: inline-block;
	height: 50vh;
	left: 0
	cursor: pointer;
#left_sk
	width: 50%;
#right_sk
	width: 50%;		
.skill_html
	position: absolute;
	display: block;
	width: 100%;
	transition: .5s;
	vertical-align: middle;
	z-index: 5;
	padding-top: 69px;
	ul
		position: absolute;
		left: -200%;
		height: 100%;
		margin-top: 20px;
		margin-bottom: 0;
		font-size: 17px;
		z-index: 100;
		li
			margin-top: 10px;
	img
		position: absolute;
		height: 200px;
		width: 150px;
		margin-left: calc( 50% - 75px);
		margin-right: calc( 50% - 75px);
		z-index: -100;	
.skill_css
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	transition: .5s;
	vertical-align: middle;
	z-index: 5;
	padding-top: 69px;
	font-size: 17px;
	ul
		height: 100%;
		position: absolute;
		right: -200%;
		display: block;
		margin-top: 20px;
		margin-bottom: 0;
		li
			margin-top: 10px;
	img
		position: absolute;
		height: 200px;
		width: 150px
		margin-left: calc( 50% - 75px);
		margin-right: calc( 50% - 75px);
#test
	font-size: 0;
	text-align: center;
	img
		position: relative;
		font-size: 0;
		height: 30vh;
		display: inline-block;
		text-align: center;
		vertical-align: middle;
	ul
		display: inline-block;
		width: 50%;
		text-align: left;
		vertical-align: middle;
#left_block
	font-size: 17px;
	display: inline-block;
	width: 50%;
#right_block
	font-size: 17px;
	display: inline-block;
	width: 50%;
	border-left: 1px solid #000